.maincarousel-container {
  display: flex;
  flex-direction: column;
  height: 48vw;
}
.carousel-title {
  height: 1%;
  width: 100%;
  color: white;
  font-size: 4vw;
  text-shadow: #ffff 0 0 3px, rgba(240, 46, 170, 0.4) 0 0 10px,
    rgba(240, 46, 170, 0.3) 0 0 15px, rgba(240, 46, 170, 0.2) 0 0 20px,
    rgba(240, 46, 170, 0.1) 0 0 25px, rgba(240, 46, 170, 0.05) 0 0 30px;
}
.carouselcontainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carouselcontainer span {
  margin-left: 6vw;
  margin-right: 6vw;
}
.carouseldiv {
  width: 100%;
  height: 99%;
  display: flex;
  flex-direction: row;
}
.div1 {
  width: 3%;
}
.div3 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  font-size: 0.6vw;
}
.div3 p {
  height: fit-content;
}
