.carouselcontainer {
  width: 100%;
  height: 45.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carouselcontainer span {
  margin-left: 8vw;
  margin-right: 8vw;
}
.carouseldiv {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.div1 {
  width: 5%;
}
.div3 {
  width: 5%;
}
