@font-face {
  font-family: "republica";
  src: url("/public/Cocogoose_trial.otf") format("truetype");
}
html,
body {
  margin: 0;
  background-color: black;
  font-family: "republica";
  color: aliceblue;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tubitaklogostyle {
  width: 12vw;
}
.huclogostyle {
  width: 12vw;
  border-radius: 50%;
}
.cvlogostyle {
  width: 12vw;
}
.mercekstyle {
  width: 46vw;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 0.65vw;
  border-radius: 15px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {
  color: grey;
  box-shadow: inset 0 0 0 2vw;
}
.spinner {
  position: absolute;
  top: 22%;
  left: 35%;
}
